<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MenuMapper">

    <select id="findAllById" resultType="com.example.demo.entity.Menus">
        SELECT *
        FROM menus
        WHERE id IN
        <foreach collection="menuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findAllByParentId" resultType="com.example.demo.entity.Menus">
        SELECT *
        FROM menus
        WHERE parent_id = #{parentId}
    </select>

    <select id="getAllMenus">
        SELECT *
        FROM menus
    </select>

</mapper>
